.accordion {
    margin: 5px 0;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: all ease 0.4s;
}

.accordion:hover {
    background-color: #ccc;
}

.panel {
    box-sizing: border-box;
    padding: 20px;
    padding: 0 18px;
    background-color: #ccc;
    color: #333;
    display: none;
}